/* Importation de Tailwind */
@import "tailwindcss";

/* Définition du thème personnalisé directement ici */
@theme {
  /* Nos Couleurs Personnalisées */
  --color-brand-brown: #5D4037;
  --color-brand-beige: #D4A373;
  --color-brand-red: #E63946;
  --color-brand-cream: #FAFAF5;
  --color-brand-green: #2A9D8F;

  /* Nos Polices */
  --font-serif: "Playfair Display", serif;
  --font-sans: "Lato", sans-serif;
}

/* Les polices Google Fonts sont chargées depuis index.html */

/* Styles de base */
body {
  background-color: var(--color-brand-cream);
  color: #1f2937; /* gray-800 équivalent */
  font-family: var(--font-sans);
}

/* Titres */
h1, h2, h3, h5, h6 {
  font-family: var(--font-serif);
  color: var(--color-brand-brown);
}

